
.body {
    width: 100%;
    height: auto;
}
.component1 {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    border: 0.25px solid black;
    background: yellowgreen;
    align-items: center;
}
.component2 {
    width: 100%;
    display: grid;
    grid-template: repeat(3, 100px) / repeat(2, 100px);
    border: 0.25px solid black;   
    display: flex;
    flex-direction: row;    
} 

.component2_box1 {
    width: 25%;
    height: 9rem;
    border: .25px solid black;
}
.component2_box2 {
    width: 72%;
    height: 9rem;
    display: grid;
    grid-template: repeat(2, 100px) / repeat(2, 100px);
    border: 0.25px solid black;
    display: flex;
    flex-direction: column;
   
}
.component2_grid {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template: repeat(2, 100px) / repeat(2, 100px);
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: last baseline; 
    font-weight: bold;
    font-size: 20px;
    text-align: center; 
}
.text_color {
    color: rgb(7, 116, 59);
}
.icon {
    size: 80;
}
.grid {
    width: 11rem;
    height: 4rem;
    border: 1px solid black;
    border-radius: 10px;
    
}
.grid:hover {
    cursor: pointer;
    background-color: rgb(223, 223, 215);
}
.boxx {
    width: 9rem;
    height: 5rem;
    border: 1px solid black;
}
.component2_box3 {
    width: 3%;
    height: 9rem;
    border: .25px solid black;
}
.component2_box2-l1 {
    list-style-type: none;
    float: left;
}
.component2_box2-l2 {
    list-style-type: none;
    float: left;   
}
.component2_box2-ls {
    width: 100%;
    display: grid;
    grid-template: repeat(2, 100px) / repeat(2, 100px);
    border: 0.25px solid black;   
    height: 100vh;
}
.box2-ls {
    width: 100%;
    height: 200px;
    border: 0.25px solid black;
}
.component2_box2-l1 {
    float: left;
    padding-right: 20px;
    margin-right: 40px;
}
.join {
    font-style: italic;
    list-style-type: none; 
    display: inline;
    float: right; 
    margin-left: 30px;
 }
 .Apply_for_a_loan {
     font-style: italic;
     list-style-type: none; 
     display: inline;
     float: right; 
     margin-left: 30px;
  }
  .Loan_Paymen {
     font-style: italic;
     list-style-type: none;   
     display: inline;
     float: right; 
     margin-left: 30px;
  }
  .Branches_ATMs {
     font-style: italic;
     list-style-type: none;  
     display: inline; 
     float: right; 
     margin-left: 30px;
     
  }
  .For_Employers {
     font-style: italic;
     list-style-type: none;
     display: inline;
     float: right; 
     margin-left: 30px;
  }
  .Rate {
     font-style: italic;
     list-style-type: none;   
     display: inline;
     float: right; 
     margin-left: 30px;
  }
  .ls {
    border: 1px solid black;
  }

  .search_icon_div {
    vertical-align: top;
  }
  .component3 {
    width: 100%;
    height: 430px;
    border: 1px solid rgb(196, 27, 27);
    
  }
.component3_inner {
    width: 100%;
    height: 400px;
    background: rgb(87, 83, 83);
 
    
}

.component3_inner1 {
    width: 710px;
    height: 390px;
    border: 1px solid black;
    float: left; 
    border:1px  solid rgb(14, 14, 15);
}
.component3_inner2 {
    width: 710px;
    height: 400px;
    float: right;
}
.img1 {
    margin-top: 30px;
    width: 40rem;
    height: 25rem;
    border: 1px solid black;
    background: yellowgreen;
    border-radius: 10px;
}
.component4 {
    width: 100%;
    height: 150px;  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    bottom: 25px;
    top: 20px;   
} 
.wallet {
    width: 120px;
    height: 40px;
    color: rgb(79, 71, 71);
    text-align:center;
    font-weight: bold;
}  
.container2_boxes_text {
   text-align: center;
   font-weight: bold;
   color: rgb(7, 116, 59);
}
.container2_boxes {
    width: 11rem;
    height: 7.5rem;
  
    transition: box-shadow .19s;
    background: #fff;  
}
.container2_boxes:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
}
.component5 {
    width: 100%;
    height: 430px;
    border: 1px solid rgb(196, 27, 27);

}
.component5_inner {
    width: 100%;
    height: 400px;
    background: rgb(87, 83, 83);

}
.component5_inner1 {
    width: 600px;
    height: 390px;
    border: 1px solid black;
    float: right; 
    border:1px  solid rgb(14, 14, 15);
}
.component5_inner2 {
    width: 710px;
    height: 400px;
    float: left;
    margin-left: 40px;;
   
}
.image {
    margin-top: 30px;
    width: 40rem;
    height: 25rem;
    border: 1px solid black;
    background: yellowgreen;
    border-radius: 10px;
}
.component6 {
    width: 100%;
    height: 400px;
}
.component7{
    width: 100%;
    height: 100px;
    border: 1px solid black;  
}
.news-annocements {
    width: 100%;
    height: 100px; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    font-size: 30px;    
}
.news_annocements {
    color: rgb(7, 116, 59);;
}
.laptop{
    width: 200px;
    height: 200px;
    object-fit: cover;
    bottom: -30px; 
    position:relative;  
    padding-left: 40px;
    border: 50px
}
.component8{
    width: 100%;
    height: 260px;
    border: 1px solid black;  
}
.laptop-image {
    width:13rem;
    height: 13rem;
    float: left;
    margin-left: 80px;
}
.laptop-image_div {
    padding-top: 40px;
    padding-top: 5px;
}
.p1 {
    font-weight: bold;
   
}
.component8_inner{
    margin-left: 100px ;
    margin-right: 100px;
    height: 240px;
    border: 1px solid black;  
    background: aliceblue;
    align-content: center;
    padding-bottom: 10px;
    border-radius: 10px;
}
.learn_more {
    width:120px;
    height: 40px;
    background: green;
    border:1px solid black;
    float: left;
    margin-left: 40px;
}
.p_box {
    margin-left: 330px;
}
.p3 {
   line-height: 0.6;
}
.p2 {
   line-height: 2.5;
}
.component9 {
    width: 100%;
    display: grid;
    grid-template: 100px 100px 100px / 70% 30%;    
     
}
.component9_inner {
  height: 300px;
  background: gold;
  border: 1px solid black;
}
.component9_inner2 {
    display: grid;
    height: 100px;
    grid-template: 100px  100px / 50fr 50fr; 
}
.component9_inner2_box {
    width: 210px;
    height: 100px;
    border: 1px solid black;

    background: greenyellow;
}
.component9_inner_one {
    display: grid; 
    grid-template: 100px 100px 100px / 95fr 5fr;
}
.component9_div {
   height: 300px;
   border: 1px solid black;
}
.vertical-line {
    border: 1px solid red;
    height: 250px;
    margin-left: auto;
    margin-left: auto;
    width: 1px;
    float:left;
}
.footer_item {
    width: 100px;
    height: auto;
    list-style-type: none;
    display: inline;
    margin: 5px;
}
.follow {
    width: 100%;
    height: 40px;
    border: 1px solid black
}
.follow_us {
    text-align: center;
    font-weight: bold;
}
.social_media {
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.social_box {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  margin: 1rem;
 
}
.footer_bottom {
    width: 100%;
    height: auto;
    text-align: center;
}




