.auto-form-container {
    background-color:  rgb(240, 163, 11);;
    padding: 25px;

    margin-left: 300px;
    border-radius: 10px;
    height: 100px;
    width: 300px;
    float:right;
    bottom:200px;

}
.btn {
    width: 80px;
    height: 40px;
}
.form-group {
    height: 20px;
    width: 200px;
  
}
.form {
    border:2px solid black;
    padding-bottom: 200px;
}

